@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pulse">
        <meta name="author" content="Valency">

        <link href="@routes.Assets.at("css/main.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/jquery.fileupload.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/import.min.css")" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="@routes.Assets.at("js/lib/html5shiv.js")"></script>
            <script src="@routes.Assets.at("js/lib/respond.min.js")"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">

            <!-- Page header -->
            <div id="header" class="row">
                <div class="col-md-7 col-md-offset-1"></div>
                <div class="col-md-3">
                    <div class="current-location">
                        <p class="text-right">
                            Import Assessment
                        </p>
                    </div>
                    <div class="user-menu">
                        <p class="text-right">
                            <a href="">Sign Out</a>&nbsp;&nbsp;|&nbsp;
                            <a href="">My Reports</a>
                        </p>
                    </div>
                </div>
            </div>

            <div id="content" class="row">
                @content
            </div>

            <footer>

            </footer>
        </div>

        <script data-main="@routes.Assets.at("js/src/application.js")" src="@routes.Assets.at("js/lib/require.js")"></script>
    </body>
</html>
